html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #757575;
  width: 1600px;
}
img {
  display: block;
  max-width: 100%;
  height: auto; 
}
button {
  cursor: pointer;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
  padding: 0 0 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: block;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.logo {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.brand-color {
  color: #2196f3;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list-item {
  margin-right: 20px;
}
.nav-list-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-list-item a:hover,
.nav-list-item a:focus {
  color: #2196f3;
}
.header-contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 20px;
}
.header-contacts:hover,
.header-contacts:focus {
  color: #2196f3;
}

/* SECTION TOP */
.section {
  text-align: center;
  width: 1200px;
}
.top {
  width: 1600px;
  height: 600px;
  background: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.buy-service-button {
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.buy-service-button:hover,
.buy-service-button:focus {
  background: #ffffff;
  color: #2196f3;
}

/* FEATURES SECTION */
.vissualy-hidden {
  display: none;
}
.features-list {
  list-style: none;
  display: flex;
}
.features-item {
  width: 270px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* SERVICES */
.services {
  padding: 94px 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.services-item {
  margin-right: 30px;
}

/* TEAM */
.team {
  background: #f5f4fa;
  padding: 94px 0;
}
.team-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-member {
  margin-right: 30px;
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-member-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* FOOTER */
.footer {
  width: 1600px;
  max-height: 252px;
  background: #2f303a;
  padding: 80px 0;
}
.white-color {
  color: #ffffff;
}
.address {
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* PORTFOLIO */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.filter-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-item {
  float: left;
}
.filter-button {
  height: 38px;
  border-radius: 5px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.project-list {
  list-style: none;
  /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
  margin: 0;
  padding: 0;
  text-align: center;
}
.project-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.project-card:not(:nth-child(3n)) {
  margin-right: 45px;
}
.project-card {
  width: 370px;
  height: 404px;
  float: left;

  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.project-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.project-filter {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-up-fixed {
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  left: 1450px;
}
.button-up-fixed:hover {
  color: #000000;
  background-color: #cccccc;
  border: 1px solid #000000;
}